.container-fluid1{
    float: right;
    /* margin-left: 100%; */

}
navbar navbar-expand-lg bg-body-tertiary{
    display: flex;
}
.card{
    border: 2px solid black;;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    /* margin: auto; */
}
.rightfloat{
   /* margin-left: 20vw; */
    /* float: right; */
    text-align: right;
}
.space{
    padding: auto;
    margin: auto;
}
body{
    /* background-color: #f0f0f0; */
    background-color: #3498db; /* Blue card color */
}

.card {
    background-color: #3498db; /* Blue card color */
    color: #ffffff; /* White text for better contrast */
  }
