body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color:blue; */
    background-color: #f0f0f0;
  
}
.card{
    /* background-image: url('./images/vlogo.jpeg');
    background-size: cover; /* Adjust as needed */
    /* background-repeat: no-repeat;  */
    /* background-color:grey; */
    background-color: #3498db; /* Blue card color */
  color: #ffffff; /* White text for better contrast */
}